<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <style type="text/css">
	body {margin: 0px; text-align: center;}
	div {margin: 0 auto;}
	.logbox {
		margin-top: 30px;
		background: #FFD2D2;
		border: 1px solid #930000;
		border-radius: 5px;
		width: 560px;
	}
	.title {
		font-size: 16pt;
		color: #FF0000;
		font-weight: bold;
		border-bottom: 1px dashed #FF0000;
		padding: 10px;
	}
	.cancelbutton {
		background: #FF5151;
		color: white;
		font-size: 16pt;
		font-weight: bold;
		padding: 10px;
		border-radius: 10px;
		text-decoration: none;
	}
    </style>
</head>

<body>
    <div class="logbox">
    	<ul class="title">HCI微博管理系统</ul>
    	<ul><a href="https://api.weibo.com/oauth2/authorize?client_id=<%=appkey%>&redirect_uri=<%=callbackurl%>&response_type=code"><img src="images/wb.png"></a></ul>
    	<ul><a href="http://app.weibo.com/my" class="cancelbutton"><img src="images/logo.png">取消授权</a></ul>
    </div>
</body>
</html>